In [2]:
import nest_asyncio
nest_asyncio.apply()

In [3]:
from IPython.display import Markdown, display

In [83]:
from llama_index.llms.openai import OpenAI

In [4]:
import os
from dotenv import load_dotenv
from pathlib import Path
#LlamaParse
from llama_parse import LlamaParse
#LlamaIndex Imports
from llama_index.core import SimpleDirectoryReader

In [5]:
_ = load_dotenv()

In [6]:
BASE_DIR = Path().resolve()
print(BASE_DIR)
UPLOAD_DIR = f"{BASE_DIR}/app/uploads"
print(UPLOAD_DIR)
#os.makedirs(UPLOAD_DIR, exist_ok=True)

F:\Sivaraj\Pipeline5_statement_analyzer_llamaindex
F:\Sivaraj\Pipeline5_statement_analyzer_llamaindex/app/uploads

In [19]:
# Looping Multiple Files and Parsing the Documents for particular Company 
parser = LlamaParse(api_key=os.getenv("LLAMA_API_KEY"),
                #structured_output_json_schema_name="bank_statement",structured_output=True
                result_type="markdown",
                verbose=True,
                #page_prefix="START OF PAGE: {pageNumber}\n",page_suffix="\nEND OF PAGE: {pageNumber}",
                )

In [20]:
# Supported file types mapped to the parser
FILE_EXTRACTOR = {
    ".pdf": parser,
    ".png": parser,
    ".jpg": parser,
    ".jpeg": parser,
    ".xlsx": parser,
    ".xls": parser,
    ".csv": parser
}

In [22]:
documents = await SimpleDirectoryReader(
        input_dir=UPLOAD_DIR,
        file_extractor=FILE_EXTRACTOR
    ).aload_data()

Started parsing the file under job_id 29d54b72-5351-462e-b244-137c9428129d
Started parsing the file under job_id 9978aa41-0d78-48d7-879e-57405f5a1668

In [23]:
len(documents)

4

In [32]:
display(Markdown(documents[3].text))

# Transaction Statements

| Date       | Transaction Date | Description       | Card Number      | Amount | Balance |
| ---------- | ---------------- | ----------------- | ---------------- | ------ | ------- |
| 14-10-2023 | 14-10-2023       | Movie             | 6544686663182579 | 364.74 | 0.00    |
| 26-10-2023 | 26-10-2023       | Medical Expenses  | 8389783961071306 | 197.38 | 0.00    |
| 29-10-2023 | 29-10-2023       | Clothing Purchase | 6960970440915055 | 231.92 | 0.00    |
| 03-11-2023 | 03-11-2023       | Travel Booking    | 7187045167670525 | 102.29 | 0.00    |
| 10-11-2023 | 10-11-2023       | School Fees       | 7823856745011777 | 252.42 | 0.00    |
| 11-11-2023 | 11-11-2023       | Electricity Bill  | 4430000734980004 | 209.54 | 0.00    |
| 18-11-2023 | 18-11-2023       | Electricity Bill  | 9743083364387318 | 70.18  | 0.00    |
| 18-11-2023 | 18-11-2023       | School Fees       | 5392407797325898 | 420.67 | 0.00    |
| 22-11-2023 | 22-11-2023       | Fuel              | 7275015929657356 | 412.35 | 0.00    |
| 23-11-2023 | 23-11-2023       | Online Purchase   | 2278243635300710 | 214.39 | 0.00    |
| 23-11-2023 | 23-11-2023       | Fuel              | 6662831092897570 | 95.28  | 0.00    |
| 28-11-2023 | 28-11-2023       | Electricity Bill  | 9765241162181757 | 461.17 | 0.00    |
| 02-12-2023 | 02-12-2023       | Loan EMI          | 7676268238535267 | 294.39 | 0.00    |
| 03-12-2023 | 03-12-2023       | Electricity Bill  | 8091592445975198 | 404.09 | 0.00    |
| 07-12-2023 | 07-12-2023       | Monthly Salary    | 7459731937772194 | 0.00   | 4595.55 |
| 13-12-2023 | 13-12-2023       | Gym Membership    | 9187119209959353 | 205.35 | 0.00    |
| 14-12-2023 | 14-12-2023       | Medical Expenses  | 6187147076344140 | 21.30  | 0.00    |
| 18-12-2023 | 18-12-2023       | Gym Membership    | 9796382373614159 | 338.48 | 0.00    |
| 20-12-2023 | 20-12-2023       | Monthly Salary    | 6806623210235125 | 0.00   | 2189.93 |
| 22-12-2023 | 22-12-2023       | Electricity Bill  | 8869411403071091 | 210.67 | 0.00    |
| 28-12-2023 | 28-12-2023       | Movie             | 5391868418995331 | 137.41 | 0.00    |

In [7]:
parser = LlamaParse(api_key=os.getenv("LLAMA_API_KEY"),
                #structured_output_json_schema_name="bank_statement",structured_output=True
                result_type="json",
                verbose=True,
                #compact_markdown_table=False
                #merge_tables_across_pages_in_markdown=True,
                #hide_headers=True,
                merge_tables_across_pages_in_markdown=False,
                compact_markdown_table=False,
                continuous_mode=False,
                parsing_instruction="Do not automatically guess the headers for the table on pages where headers are not explicitly written.",
                #page_prefix="START OF PAGE: {pageNumber}\n",page_suffix="\nEND OF PAGE: {pageNumber}",
                )

In [8]:
# Supported file types mapped to the parser
FILE_EXTRACTOR = {
    ".pdf": parser,
    ".png": parser,
    ".jpg": parser,
    ".jpeg": parser,
    ".xlsx": parser,
    ".xls": parser,
    ".csv": parser
}

In [37]:
documents = await SimpleDirectoryReader(
        input_dir=UPLOAD_DIR,
        file_extractor=FILE_EXTRACTOR
    ).aload_data()

Started parsing the file under job_id ac60c9a1-d2af-4584-8445-5820e732f444
Error while parsing the file '<bytes/buffer>': 'json'

In [36]:
documents

[]

In [8]:
parser

LlamaParse(is_remote=False, api_key='llx-6RBLF8PUiGPcuZOX8uTHClkUb6aQFrfg7AQsRxUXAUFiFLIP', base_url='https://api.cloud.llamaindex.ai', organization_id=None, project_id=None, check_interval=1, backoff_pattern=<BackoffPattern.LINEAR: 'linear'>, max_check_interval=5, custom_client=None, ignore_errors=True, max_timeout=2000, num_workers=4, result_type=<ResultType.JSON: 'json'>, show_progress=True, split_by_page=True, verbose=True, adaptive_long_table=False, annotate_links=False, auto_mode=False, auto_mode_configuration_json=None, auto_mode_trigger_on_image_in_page=False, auto_mode_trigger_on_table_in_page=False, auto_mode_trigger_on_text_in_page=None, auto_mode_trigger_on_regexp_in_page=None, azure_openai_api_version=None, azure_openai_deployment_name=None, azure_openai_endpoint=None, azure_openai_key=None, bbox_bottom=None, bbox_left=None, bbox_right=None, bbox_top=None, compact_markdown_table=False, continuous_mode=False, disable_ocr=False, disable_image_extraction=False, do_not_cache=False, do_not_unroll_columns=False, extract_charts=False, extract_layout=False, fast_mode=False, guess_xlsx_sheet_names=False, high_res_ocr=False, html_make_all_elements_visible=False, html_remove_fixed_elements=False, html_remove_navigation_elements=False, http_proxy=None, ignore_document_elements_for_layout_detection=False, input_s3_region=None, invalidate_cache=False, job_timeout_extra_time_per_page_in_seconds=None, job_timeout_in_seconds=None, language='en', markdown_table_multiline_header_separator=None, max_pages=None, merge_tables_across_pages_in_markdown=False, output_pdf_of_document=False, output_s3_path_prefix=None, output_s3_region=None, output_tables_as_HTML=False, outlined_table_extraction=False, page_error_tolerance=None, page_prefix=None, page_separator=None, page_suffix=None, parse_mode=None, premium_mode=False, preset=None, preserve_layout_alignment_across_pages=False, preserve_very_small_text=False, replace_failed_page_mode=None, replace_failed_page_with_error_message_prefix=None, replace_failed_page_with_error_message_suffix=None, skip_diagonal_text=False, spreadsheet_extract_sub_tables=False, strict_mode_buggy_font=False, strict_mode_image_extraction=False, strict_mode_image_ocr=False, strict_mode_reconstruction=False, structured_output=False, structured_output_json_schema=None, structured_output_json_schema_name=None, system_prompt=None, system_prompt_append=None, take_screenshot=False, target_pages=None, user_prompt=None, vendor_multimodal_api_key=None, vendor_multimodal_model_name=None, model=None, webhook_url=None, partition_pages=None, hide_headers=False, hide_footers=False, page_header_suffix=None, page_header_prefix=None, page_footer_suffix=None, page_footer_prefix=None, bounding_box=None, complemental_formatting_instruction=None, content_guideline_instruction=None, formatting_instruction=None, gpt4o_mode=False, gpt4o_api_key=None, is_formatting_instruction=False, parsing_instruction='', use_vendor_multimodal_model=False)

In [174]:
UPLOAD_DIR = f"{BASE_DIR}/app/uploads/document_uploads"
#6cb92a22124242038801f12690026b80.png" # Example file path

In [10]:
documents = await parser.aload_data(UPLOAD_DIR)

Error while parsing the file 'F:\Sivaraj\Pipeline5_statement_analyzer_llamaindex/app/uploads': Currently, only the following file types are supported: ['.pdf', '.602', '.abw', '.cgm', '.cwk', '.doc', '.docx', '.docm', '.dot', '.dotm', '.hwp', '.key', '.lwp', '.mw', '.mcw', '.pages', '.pbd', '.ppt', '.pptm', '.pptx', '.pot', '.potm', '.potx', '.rtf', '.sda', '.sdd', '.sdp', '.sdw', '.sgl', '.sti', '.sxi', '.sxw', '.stw', '.sxg', '.txt', '.uof', '.uop', '.uot', '.vor', '.wpd', '.wps', '.xml', '.zabw', '.epub', '.jpg', '.jpeg', '.png', '.gif', '.bmp', '.svg', '.tiff', '.webp', '.htm', '.html', '.xlsx', '.xls', '.xlsm', '.xlsb', '.xlw', '.csv', '.dif', '.sylk', '.slk', '.prn', '.numbers', '.et', '.ods', '.fods', '.uos1', '.uos2', '.dbf', '.wk1', '.wk2', '.wk3', '.wk4', '.wks', '.123', '.wq1', '.wq2', '.wb1', '.wb2', '.wb3', '.qpw', '.xlr', '.eth', '.tsv', '.mp3', '.mp4', '.mpeg', '.mpga', '.m4a', '.wav', '.webm']
Current file type:

In [25]:
#display(Markdown(documents.pages[0].md))

In [175]:
os.listdir(UPLOAD_DIR)

['7d7c4043d44d48e1adf75b8a894e9edd.pdf']

In [ ]:
for file in os.listdir(UPLOAD_DIR):
    if file.endswith(".png") or file.endswith(".jpg") or file.endswith(".jpeg"):
        file_path = os.path.join(UPLOAD_DIR, file)
        print(f"Processing {file_path}")
        #documents = await parser.aload_data(file_path)
        display(Markdown(documents[0].text))  # Display the text content of the first document

In [176]:
file_path = [os.path.join(UPLOAD_DIR, file) for file in os.listdir(UPLOAD_DIR) if file.endswith(".png") or file.endswith(".jpg") or file.endswith(".jpeg") or ".pdf" in file or ".xlsx" in file or ".xls" in file or ".csv" in file]
file_path

['F:\\Sivaraj\\Pipeline5_statement_analyzer_llamaindex/app/uploads/document_uploads\\7d7c4043d44d48e1adf75b8a894e9edd.pdf']

In [177]:
#documents = parser.get_json_result(file_path)
documents = await parser.aget_json(file_path)

Parsing files:   0%|          | 0/1 [00:00<?, ?it/s]

WARNING: parsing_instruction is deprecated. Use system_prompt, system_prompt_append or user_prompt instead.
Started parsing the file under job_id 6cebe3e8-1a32-4be1-8f76-9150723c800c

Parsing files: 100%|██████████| 1/1 [00:04<00:00,  4.77s/it]

In [111]:
len(documents)

1

In [15]:
len(documents[1]["pages"])

3

In [32]:
documents[1]["pages"][0]["items"][0]['type']
#display(Markdown(documents[1]["pages"][2]['table']))

'table'

In [178]:
parser.get_tables(documents, "tables/")

['tables/table_2025_08_08_12_02_51_228.csv',
 'tables/table_2025_08_08_12_02_51_230.csv',
 'tables/table_2025_08_08_12_02_51_231.csv']

In [179]:
UPLOAD_DIR = f"{BASE_DIR}/tables"

In [180]:
csv_files = [file for file in os.listdir(UPLOAD_DIR) if file.endswith('.csv')]

In [166]:
csv_files

['table_2025_08_08_11_50_04_091.csv']

In [116]:
import pandas as pd

In [42]:
df_list = []
for file in csv_files:
    file_path = os.path.join(UPLOAD_DIR, file)
    df = pd.read_csv(file_path)
    df_list.append(df)

In [44]:
df_list

[   Transaction Date Payment Date             Narrative  Transaction Reference  \
 0        05-01-2023   05-01-2023      Medical Expenses       4161352352655054
 1        06-01-2023   06-01-2023              Loan EMI       8496804171798802
 2        18-01-2023   18-01-2023        Monthly Salary       8573503786477559
 3        22-01-2023   22-01-2023       Mobile Recharge       1054954198503016
 4        25-01-2023   25-01-2023      Electricity Bill       9763474835927146
 5        29-01-2023   29-01-2023             Transport       6983190424005195
 6        31-01-2023   31-01-2023             Transport       2200980449957918
 7        02-02-2023   02-02-2023                Dining       3410793442486691
 8        04-02-2023   04-02-2023                 Movie       1447889870337339
 9        05-02-2023   05-02-2023      Grocery Shopping       7335326708332379
 10       11-02-2023   11-02-2023                 Movie       9338903403375205
 11       13-02-2023   13-02-2023             Transport       4528200664548503
 12       14-02-2023   14-02-2023        Monthly Salary       6111563626015108
 13       14-02-2023   14-02-2023       Online Purchase       3563331738706976
 14       21-02-2023   21-02-2023     Clothing Purchase       8975393364133687
 15       22-02-2023   22-02-2023  Electronics Purchase       9193559814250283
 16       26-02-2023   26-02-2023            Water Bill       5891229429012910
 17       02-03-2023   02-03-2023           School Fees       3147664934420556
 18       04-03-2023   04-03-2023        Gym Membership       6987481537250857
 19       13-03-2023   13-03-2023     Clothing Purchase       5251805023544774
 20       03-04-2023   03-04-2023      Subscription Fee       8476874204046259
 21       06-04-2023   06-04-2023      Subscription Fee       6975503521547544
 22       13-04-2023   13-04-2023              Loan EMI       5069158427707021
 23       24-04-2023   24-04-2023     Clothing Purchase       4843340935572396
 24       26-04-2023   26-04-2023                Dining       2449207297662910
 25       28-04-2023   28-04-2023        Monthly Salary       8354867655695869
 26       01-05-2023   01-05-2023                 Movie       5979525951410483
 27       11-05-2023   11-05-2023     Clothing Purchase       5781296280210130

      Debit   Credit
 0    78.87     0.00
 1   307.44     0.00
 2     0.00  2512.00
 3   278.49     0.00
 4    27.97     0.00
 5   159.56     0.00
 6   154.45     0.00
 7   115.02     0.00
 8   151.85     0.00
 9   278.10     0.00
 10  238.95     0.00
 11  488.46     0.00
 12    0.00  4867.31
 13  369.85     0.00
 14  365.84     0.00
 15  195.95     0.00
 16   30.32     0.00
 17  250.58     0.00
 18  309.89     0.00
 19  464.36     0.00
 20  147.72     0.00
 21  481.01     0.00
 22  102.77     0.00
 23  109.08     0.00
 24  401.35     0.00
 25    0.00  4430.05
 26  262.65     0.00
 27  241.76     0.00  ,
           Date Transaction Date           Description    Transaction ID  \
 0   12-05-2023       12-05-2023            Water Bill  5524856524938771
 1   15-05-2023       15-05-2023        Monthly Salary  6519524825287686
 2   15-05-2023       15-05-2023     Insurance Premium  3132993763510450
 3   24-05-2023       24-05-2023  Electronics Purchase  6055366919797072
 4   25-05-2023       25-05-2023        Monthly Salary  5441235861610032
 5   26-05-2023       26-05-2023                 Movie  2602573957727020
 6   23-06-2023       23-06-2023       Mobile Recharge  4105741927723623
 7   30-06-2023       30-06-2023       Mobile Recharge  2095058996811526
 8   06-07-2023       06-07-2023     Clothing Purchase  8233313557002518
 9   11-07-2023       11-07-2023              Loan EMI  6674730014580061
 10  15-07-2023       15-07-2023            Water Bill  3659896381675968
 11  16-07-2023       16-07-2023     Clothing Purchase  8732803978334833
 12  20-07-2023       20-07-2023              Loan EMI  6259886855536481
 13  26-07-2023       26-07-2023        Gym Membership  9311133824199905
 14  27-07-2023       27-07-2023      Medical Expenses  3332346365005651
 15  04-08-2023       04-08-2023                  Fuel  2379522459538887
 16  05-08-2023       05-08-2023                 Movie  6202568741764512
 17  11-08-2023       11-08-2023      Medical Expenses  8542874149485155
 18  11-08-2023       11-08-2023            Water Bill  4161784425285363
 19  19-08-2023       19-08-2023     Insurance Premium  2180587494544295
 20  26-08-2023       26-08-2023      Grocery Shopping  6107608130355635
 21  29-08-2023       29-08-2023  Electronics Purchase  6978865364252690
 22  31-08-2023       31-08-2023     Clothing Purchase  4033536061558062
 23  06-09-2023       06-09-2023      Electricity Bill  8902140635045647
 24  07-09-2023       07-09-2023            Water Bill  3773238388159236
 25  25-09-2023       25-09-2023              Loan EMI  4666107572540081
 26  01-10-2023       01-10-2023                Dining  6139887122781078
 27  04-10-2023       04-10-2023        Travel Booking  3250954154596103
 28  05-10-2023       05-10-2023  Electronics Purchase  9712983547665754
 29  06-10-2023       06-10-2023     Clothing Purchase  9559795379784058
 30  13-10-2023       13-10-2023        Monthly Salary  2771511537660634

      Debit   Credit
 0   278.65     0.00
 1     0.00  4850.28
 2   234.32     0.00
 3   393.46     0.00
 4     0.00  3326.09
 5    99.38     0.00
 6    85.97     0.00
 7    45.69     0.00
 8   119.15     0.00
 9    17.61     0.00
 10  217.10     0.00
 11  402.75     0.00
 12  420.49     0.00
 13  229.76     0.00
 14   20.98     0.00
 15  342.26     0.00
 16  218.62     0.00
 17  368.09     0.00
 18  305.39     0.00
 19  353.21     0.00
 20   40.19     0.00
 21  260.92     0.00
 22  333.19     0.00
 23  337.85     0.00
 24  345.66     0.00
 25  262.66     0.00
 26  344.68     0.00
 27  488.62     0.00
 28   25.56     0.00
 29  435.08     0.00
 30    0.00  3554.25  ,
           Date Transaction Date        Description       Card Number   Debit  \
 0   14-10-2023       14-10-2023              Movie  6544686663182579  364.74
 1   26-10-2023       26-10-2023   Medical Expenses  8389783961071306  197.38
 2   29-10-2023       29-10-2023  Clothing Purchase  6960970440915055  231.92
 3   03-11-2023       03-11-2023     Travel Booking  7187045167670525  102.29
 4   10-11-2023       10-11-2023        School Fees  7823856745011777  252.42
 5   11-11-2023       11-11-2023   Electricity Bill  4430000734980004  209.54
 6   18-11-2023       18-11-2023   Electricity Bill  9743083364387318   70.18
 7   18-11-2023       18-11-2023        School Fees  5392407797325898  420.67
 8   22-11-2023       22-11-2023               Fuel  7275015929657356  412.35
 9   23-11-2023       23-11-2023    Online Purchase  2278243635300710  214.39
 10  23-11-2023       23-11-2023               Fuel  6662831092897570   95.28
 11  28-11-2023       28-11-2023   Electricity Bill  9765241162181757  461.17
 12  02-12-2023       02-12-2023           Loan EMI  7676268238535267  294.39
 13  03-12-2023       03-12-2023   Electricity Bill  8091592445975198  404.09
 14  07-12-2023       07-12-2023     Monthly Salary  7459731937772194    0.00
 15  13-12-2023       13-12-2023     Gym Membership  9187119209959353  205.35
 16  14-12-2023       14-12-2023   Medical Expenses  6187147076344140   21.30
 17  18-12-2023       18-12-2023     Gym Membership  9796382373614159  338.48
 18  20-12-2023       20-12-2023     Monthly Salary  6806623210235125    0.00
 19  22-12-2023       22-12-2023   Electricity Bill  8869411403071091  210.67
 20  28-12-2023       28-12-2023              Movie  5391868418995331  137.41

      Credit
 0      0.00
 1      0.00
 2      0.00
 3      0.00
 4      0.00
 5      0.00
 6      0.00
 7      0.00
 8      0.00
 9      0.00
 10     0.00
 11     0.00
 12     0.00
 13     0.00
 14  4595.55
 15     0.00
 16     0.00
 17     0.00
 18  2189.93
 19     0.00
 20     0.00  ]

In [46]:
if df_list:
    combined_df = pd.concat(df_list, ignore_index=True)

In [48]:
#combined_df

In [181]:
df_list = []
header_columns = None  # Store header from first file

In [182]:
def looks_like_header(row):
    """
    Returns True if the row looks like a header (e.g., all string, no numbers).
    """
    return all(isinstance(val, str) or str(val).isalpha() for val in row)  # Heuristic

In [183]:
for idx, file in enumerate(csv_files):
    file_path = os.path.join(UPLOAD_DIR, file)

    if idx == 0:
        # Read the first file normally (with header)
        df = pd.read_csv(file_path)
        header_columns = df.columns
    else:
        # Read subsequent files with no header and assign same column names
        df = pd.read_csv(file_path, header=None)
        df.columns = header_columns

        # Check if first row matches header (i.e., it's actually a header row)
        #if df.iloc[0].equals(pd.Series(header_columns)):
        #    df = df[1:]  # Remove the header row
        first_row = df.iloc[0]
        if looks_like_header(first_row):
            df = df[1:]  # Skip it
        
    df_list.append(df)

ValueError: Length mismatch: Expected axis has 5 elements, new values have 6 elements

In [56]:
for file in csv_files:
        file_path = os.path.join(UPLOAD_DIR, file)
        try:
            # Read file as raw data (ignore header)
            df = pd.read_csv(file_path, header=None)
            df_list.append(df)
        except Exception as e:
            print(f"Error reading {file_path}: {e}")

In [120]:
df_list

[   STATEMENT DATE                                          NARRATION  \
 0      07-03-2021               BANKNET TRANSFER TO - 3707350687701;
 1      07-03-2021  ATM WITHDRAWAL CARD NO; 480666XXXXXX6482 6314 ...
 2      07-03-2021  E4010269EI ANSAR MALL SHARJAH AE POS-PURCHASE ...
 3      04-03-2021  SERVICE CHARGES CARD NO. 480666XXXXXX6482 1063...
 4      04-03-2021  UAE SWITCH ATM WITHDRAWAL 106313770295 04-03-2021
 5      01-03-2021                TRANSFER SALARY 00417.PACO1/03 202"
 6      28-02-2021              TRANSFER IPI TT REF: 03301P1210591695
 7      26-02-2021  SAEB S Y DAHALAN REF FAMILY SUPPORT Pos-PURCHA...
 8      26-02-2021              POS-PURCHASE CARD NO.4808660110+26482
 9      26-02-2021              POS PURCHASE CARD NO 4808660110-26482
 10     25-02-2021              POS PURCHASE CARD NO 4808660110426482
 11     24-02-2021              Pos PURCHASE CARD NO 4806660110426482

    CREDIT AMOUNT  DEBIT AMOUNT    BALANCE
 0           0.00        800.00  77,167.29
 1           0.00        300.00  77,967.29
 2           0.00        373.35  78,267.29
 3           0.00          2.00  78,640.64
 4           0.00        200.00  78,642.64
 5      10,000.00          0.00  78,842.64
 6         930.00          0.00  68,842.64
 7           0.00        669.98  67,912.64
 8           0.00        168.00  68,582.62
 9           0.00        115.00  68,750.62
 10          0.00        172.40  68,865.62
 11          0.00        454.00  69,038.02  ]

In [184]:
if df_list:
    combined_df = pd.concat(df_list, ignore_index=True)

In [185]:
combined_df

,Transaction Date,Payment Date,Narrative,Transaction Reference,Debit,Credit
0,05-01-2023,05-01-2023,Medical Expenses,4161352352655054,78.87,0.00
1,06-01-2023,06-01-2023,Loan EMI,8496804171798802,307.44,0.00
2,18-01-2023,18-01-2023,Monthly Salary,8573503786477559,0.00,2512.00
3,22-01-2023,22-01-2023,Mobile Recharge,1054954198503016,278.49,0.00
4,25-01-2023,25-01-2023,Electricity Bill,9763474835927146,27.97,0.00
5,29-01-2023,29-01-2023,Transport,6983190424005195,159.56,0.00
6,31-01-2023,31-01-2023,Transport,2200980449957918,154.45,0.00
7,02-02-2023,02-02-2023,Dining,3410793442486691,115.02,0.00
8,04-02-2023,04-02-2023,Movie,1447889870337339,151.85,0.00
9,05-02-2023,05-02-2023,Grocery Shopping,7335326708332379,278.10,0.00
10,11-02-2023,11-02-2023,Movie,9338903403375205,238.95,0.00
11,13-02-2023,13-02-2023,Transport,4528200664548503,488.46,0.00
12,14-02-2023,14-02-2023,Monthly Salary,6111563626015108,0.00,4867.31
13,14-02-2023,14-02-2023,Online Purchase,3563331738706976,369.85,0.00
14,21-02-2023,21-02-2023,Clothing Purchase,8975393364133687,365.84,0.00
15,22-02-2023,22-02-2023,Electronics Purchase,9193559814250283,195.95,0.00
16,26-02-2023,26-02-2023,Water Bill,5891229429012910,30.32,0.00
17,02-03-2023,02-03-2023,School Fees,3147664934420556,250.58,0.00
18,04-03-2023,04-03-2023,Gym Membership,6987481537250857,309.89,0.00
19,13-03-2023,13-03-2023,Clothing Purchase,5251805023544774,464.36,0.00
20,03-04-2023,03-04-2023,Subscription Fee,8476874204046259,147.72,0.00
21,06-04-2023,06-04-2023,Subscription Fee,6975503521547544,481.01,0.00
22,13-04-2023,13-04-2023,Loan EMI,5069158427707021,102.77,0.00
23,24-04-2023,24-04-2023,Clothing Purchase,4843340935572396,109.08,0.00
24,26-04-2023,26-04-2023,Dining,2449207297662910,401.35,0.00
25,28-04-2023,28-04-2023,Monthly Salary,8354867655695869,0.00,4430.05
26,01-05-2023,01-05-2023,Movie,5979525951410483,262.65,0.00
27,11-05-2023,11-05-2023,Clothing Purchase,5781296280210130,241.76,0.00

In [186]:
sample_table = combined_df.head(5)

In [187]:
display(Markdown(sample_table.to_markdown(index=False)))

| Transaction Date   | Payment Date   | Narrative        |   Transaction Reference |   Debit |   Credit |
|:-------------------|:---------------|:-----------------|------------------------:|--------:|---------:|
| 05-01-2023         | 05-01-2023     | Medical Expenses |        4161352352655054 |   78.87 |        0 |
| 06-01-2023         | 06-01-2023     | Loan EMI         |        8496804171798802 |  307.44 |        0 |
| 18-01-2023         | 18-01-2023     | Monthly Salary   |        8573503786477559 |    0    |     2512 |
| 22-01-2023         | 22-01-2023     | Mobile Recharge  |        1054954198503016 |  278.49 |        0 |
| 25-01-2023         | 25-01-2023     | Electricity Bill |        9763474835927146 |   27.97 |        0 |

In [84]:
llm = OpenAI(api_key=os.getenv("OPENAI_API_KEY"), model="gpt-4o")

In [85]:
llm

OpenAI(callback_manager=<llama_index.core.callbacks.base.CallbackManager object at 0x000001E5BE9DC590>, system_prompt=None, messages_to_prompt=<function messages_to_prompt at 0x000001E5B7F94F40>, completion_to_prompt=<function default_completion_to_prompt at 0x000001E5B8615620>, output_parser=None, pydantic_program_mode=<PydanticProgramMode.DEFAULT: 'default'>, query_wrapper_prompt=None, model='gpt-4o', temperature=0.1, max_tokens=None, logprobs=None, top_logprobs=0, additional_kwargs={}, max_retries=3, timeout=60.0, default_headers=None, reuse_client=True, api_key='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', api_base='https://api.openai.com/v1', api_version='', strict=False, reasoning_effort=None, modalities=None, audio_config=None)

In [86]:
llm.complete("Hi")

CompletionResponse(text='Hello! How can I assist you today?', additional_kwargs={'prompt_tokens': 8, 'completion_tokens': 9, 'total_tokens': 17}, raw=ChatCompletion(id='chatcmpl-C2D7NNJdz29pZr5Bh9PW2gRyu79gP', choices=[Choice(finish_reason='stop', index=0, logprobs=None, message=ChatCompletionMessage(content='Hello! How can I assist you today?', refusal=None, role='assistant', annotations=[], audio=None, function_call=None, tool_calls=None))], created=1754643117, model='gpt-4o-2024-08-06', object='chat.completion', service_tier='default', system_fingerprint='fp_ff25b2783a', usage=CompletionUsage(completion_tokens=9, prompt_tokens=8, total_tokens=17, completion_tokens_details=CompletionTokensDetails(accepted_prediction_tokens=0, audio_tokens=0, reasoning_tokens=0, rejected_prediction_tokens=0), prompt_tokens_details=PromptTokensDetails(audio_tokens=0, cached_tokens=0))), logprobs=None, delta=None)

In [90]:
from llama_index.parsers import TableParser

ModuleNotFoundError: No module named 'llama_index.parsers'

In [93]:
from pydantic import BaseModel, Field
from typing import Dict, List, Optional

In [94]:
class StandardizeResponse(BaseModel):
    standardized_table: bool
    rename: Dict[str, str]

In [96]:
StandardizeResponse.model_json_schema()

{'properties': {'standardized_table': {'title': 'Standardized Table',
   'type': 'boolean'},
  'rename': {'additionalProperties': {'type': 'string'},
   'title': 'Rename',
   'type': 'object'}},
 'required': ['standardized_table', 'rename'],
 'title': 'StandardizeResponse',
 'type': 'object'}